@model IEnumerable<DemoMVC.Models.EMPDATA>
@{
    ViewBag.Title = "Display";
}

<h2>Display</h2>
@using (Html.BeginForm())
{

    if (Model != null)
    {
        <table>
            <tr>
             
                <th>Empno</th>
                <th>Ename</th>
                <th>Job</th>
                <th>MGR</th>
                <th>Hiredate</th>
                <th>salary</th>
                <th>comm</th>
                <th>deptno</th>
            </tr>
            @foreach (var i in Model)
            {
                <tr>
                   
                    <td>@i.EMPNO</td>
                    <td>@i.ENAME</td>
                    <td>@i.JOB</td>
                    <td>@i.MGR</td>
                    <td>@i.HIREDATE</td>
                    <td>@i.SAL</td>
                    <td>@i.COMM</td>
                    <td>@i.DEPTNO</td>

                </tr>
            }
           
        </table>
    }
}
